<div class="main-content">
    
            <div class="container-fluid">
                
    
                
    
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        
    
                    <div class="col-lg-6 col-md-12">
                        <div class="card"  style="width :1230px " >
                            <div class="card-header" data-background-color="blue">
                                <h4 class="title">Verified Degree Record</h4>
                                
    
                            </div>
                            <div class="row">
                                <form class="navbar-form navbar-right" role="search">
                                    <div class="form-group form-black is-empty">
                                        <input type="text" class="form-control" placeholder="Search" style=" margin: -45px -5px -4px 0; " >
                                        <span class="material-input"></span>
                                    </div>
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon" style="margin: -18px 60px 0 0;" >
                                        <i class="material-icons">search</i><div class="ripple-container"></div>
                                    </button>
                                </form>
                                <!-- <p class="category">New employees on 15th September, 2016</p> -->
                            </div>
                            <div class="card-content table-responsive">
                                <table class="table table-hover">
                                    <thead class="text-warning">
                                        <tr>
                                            <th>ID</th>
                                            <th>Document Digest</th>
                                            <th>Transaction ID</th>
                                            <th>Time Stamp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>27ac8006c683714109fb606e30f3ee3c3b0cf64b9ef989874a85cbafbad9ed91</td>
                                            <td>$36,738</td>
                                            <td>Niger</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>436af8c47eaebc1ec0947d60380b46a813fd2a4e930354b7ede71d57e13b6608</td>
                                            <td>$23,789</td>
                                            <td>Curaçao</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>7b1550711f46b3b66402d6846eb410c32dbccbcfd4bc1051a64bb5f4b985ee99z</td>
                                            <td>$56,142</td>
                                            <td>Netherlands</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>4b9d687ac625690fd026ed4b236dad1cac90ef69e7ad256cc42766a065b50026</td>
                                            <td>$38,735</td>
                                            <td>Korea, South</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    